.planet-list-selected-container {
  margin-top: 20px;
  background-color: rgb(121, 121, 104);

  width: 450px;
  text-align: center;
  padding-top: 40px;
  border-radius: 15px;
  box-shadow: inset -5px -5px 10px rgb(145, 255, 0), inset 5px 5px 10px #000000;
}
.planet-list-selected-header {
  padding-bottom: 40px;
}
.planet-list-selected-element {
  list-style: none;
  font-size: 24px;
  padding-bottom: 15px;
  color: #fff;
}
.planet-list-selected-element:hover {
  background-color: aquamarine;
  color: black;
}
